td{

    width: 100px;
}
td.Title {
    font-size: 50px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
td.Smaller {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
img.img {
    margin-left: 10in;
    height: 50%;
    width: 35%;
}